.navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  border-bottom: whitesmoke solid 1px;
  top: 0;
  transition: top 0.5s;
  height: 64px;
  width: 100%;
  z-index: 100;

  &-wrapper {
    max-width: 1200px;
    width: 100%;
  }

  &-brand {
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 24px;
    margin-top: 3px;
  }

  &.hidden {
    top: -100px;
  }

  &-nav {
    text-align: end;
  }

  .ant {
    &-btn {
      &-link {
        color: $black;
        font-family: 'Basketball';
        font-size: 18px;
        &:hover {
          color: $primary !important;
        }
      }
      &-primary {
        background-color: $primary;
        border-radius: 0;
        margin-left: 4px !important;
        width: 100px;
        height: 36px;
        &:hover {
          background-color: $primary-dark !important;
        }
      }
    }
  }
}
